body {
    font-family: 'Merriweather', serif;
    color: #3F0071;
  /*  background-color: #FFACAC;*/
}

.navbar_section {
    background-color: #FFE6E6;
}



.home_section_container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: #FFACAC;
}


.home_logo_section {
   width: 350px ;
    
    
    
}

.home_logo_pic {
   width: 100%;
   margin-top: 25px;
   
}

.page_head {
    font-family: 'Paytone One', sans-serif;
    color: #070A52;
}

.home_section_desc {
    margin-top: 25px;
     font-size: 20px;
}

.service_cards_section {
  display: flex;
  gap: 10px;
 margin: 28px;
 
}

.btn_order:hover {
     background-color: #D75281;
     border: 5px;
}

.service_section_head {
    background-image: linear-gradient(0deg, rgba(225,18,153,1) 24%, rgba(255,142,158,1) 74%);
    border-radius: 25px;
}

.gallery_section_container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.carousel_section {
    width: 400px;
}

.detail_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    
    background-image: url(Shiny\ Overlay.svg);
}

.footer_section {
    margin-top: 25px;
    background-color: #FFE6E6;
    height: 100%;

}

.linecut {
    width: 250px;
}




